@import "@src/styles/lib.scss";

$search-box-width: 28rem;
$search-height: 3.2rem;
$search-font-size: $font-size-body-sm;
$search-btn-size: $navbar-height;

.search-box {
  @include flex(row, flex-start, center);
  width: $search-box-width;
}

#search {
  flex: 1;
  border: none;
  outline: none;
  border-bottom: 0.1rem solid $color-line-gray;

  height: $search-height;
  padding: 0 $spacing-8;

  &,
  &::placeholder {
    font-size: $search-font-size;
  }
}

.search-btn {
  @include init-btn;
  width: $search-btn-size;
  height: $search-btn-size;
}

// TODO: 모바일용 Right Nav Drawer 구현
@include mobile {
  .search-box {
    display: none;
  }
}
