@import "@src/styles/lib.scss";

#frame {
  background-color: $color-background;
  color: $color-font-black;

  height: 100%;
  min-height: $site-min-height;

  display: flex;
}

.dashboard {
  @include flex(column);
  width: 100%;
  flex: 1;
}

.site-main {
  padding: $grid-margin-vertical $grid-margin-horizontal;

  flex: 1;
}

.main__title {
  margin-bottom: $spacing-16;
  font-size: $font-size-h5;
  font-weight: $font-weight-bold;
  text-transform: capitalize;
}

.main__contents {
  & > :not(:first-child) {
    margin-top: $spacing-40;
  }
}

.site-footer {
  @include flex(row, flex-start, center);
  height: $site-footer-height;
  padding: 0 $grid-margin-horizontal;
}

@include mobile {
  .site-main {
    padding: $grid-margin-vertical-mobile $grid-margin-horizontal-mobile;
  }
  .site-footer {
    padding: 0 $grid-margin-horizontal-mobile;
  }
}
