@use 'sass:math';

.post-md {
  // /* ----------------------------------------
  //                   Heading
  // ----------------------------------------*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $font-weight-bold;
  }

  h1 {
    @include heading-margin($spacing-40);
    @extend .h1;
  }

  h2 {
    @include heading-margin($spacing-32);
    @extend .h2;
  }

  h3 {
    @include heading-margin($spacing-32);
    @extend .h3;
  }

  h4 {
    @include heading-margin($spacing-24);
    @extend .h4;
  }

  h5 {
    @include heading-margin($spacing-24);
    @extend .h5;
  }

  h6 {
    @include heading-margin($spacing-24);
    @extend .h6;
  }

  /* ----------------------------------------
                      Prose
  ----------------------------------------*/
  p {
    margin: 0 0 $spacing-24 0;
  }

  blockquote {
    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }

  blockquote {
    background-color: $color-surface;
    margin: $spacing-32 0;
    padding: $spacing-24;

    border-left: $blockquote-label-width solid $color-primary;
  }

  ul {
    list-style: circle;
  }

  ol {
    list-style: decimal;
  }

  ul,
  ol {
    margin-left: $spacing-32;
    margin-bottom: $spacing-32;
    list-style-position: outside;
    list-style-image: none;
  }

  ul li,
  ol li {
    margin-bottom: math.div($spacing-16, 2);
  }
}
