@import "@src/styles/lib.scss";

$toc-top-position: 15rem;
$toc-right-position: calc((100% - #{$post-max-width}) / 2 - 32rem);

.toc {
  position: fixed;
  top: $toc-top-position;
  right: $toc-right-position;

  width: 25rem;
  padding: $spacing-16;

  color: $color-font-gray;
  font-size: $font-size-14;
  line-height: $line-height-narrow;

  & > ul {
    & li {
      margin-top: $spacing-4;
    }

    & ul {
      margin-left: $spacing-16;
    }
  }
}

.content-link {
  color: inherit;

  & > div {
    transition: $transition-200;
  }
}

.content-link:hover > div,
.content-link.active > div {
  color: $color-font-black;
  transform: scale(1.1);
}

@include desktop {
  .toc {
    display: none;
  }
}

@include desktop-1320 {
  $toc-right-position: calc((100% - #{$post-max-width}) / 2 - 26rem);

  .toc {
    right: $toc-right-position;
  }
}
