@import "@src/styles/lib.scss";

$post-title-font-size: $font-size-h1 + 0.8rem;
$post-padding-horizontal: $spacing-40;

.post {
  max-width: $post-max-width;
  margin: 0 auto;
}

.post__header {
  padding: $post-padding-horizontal;
}

h1.post__title {
  margin-top: 0;
  margin-bottom: $spacing-56;
  font-size: $post-title-font-size;
}

.post__meta-info-box {
  @include flex;
}

.post__md {
  padding: $spacing-16 $post-padding-horizontal;
}

.post__footer {
  padding: 0 $post-padding-horizontal;
  margin-bottom: 20rem;
}
