@import "@src/styles/lib.scss";

.site-nav {
  background-color: $navbar-background-color;
  height: $navbar-height;
  padding: 0 ($grid-margin-horizontal - 1.6rem);

  box-shadow: $navbar-shadow;

  display: flex;
  justify-content: space-between;
}

.site-nav__logo {
  font-size: $font-size-h5;
  font-weight: $font-weight-thin;
  letter-spacing: 3.6%;

  & > a {
    @include flex(row, flex-start, center);
    height: 100%;
    padding: $spacing-16;
  }
}

@include mobile {
  .site-nav {
    padding: 0 $grid-margin-horizontal-mobile;
  }
}
