@import "@src/styles/lib.scss";

// Navbar
$navbar-width: $unit * 100;
$nav-menu-height: $navbar-height;
$nav-menu-item-width: $unit * 25;

.navbar {
  @include fixed(top, none);
  @include flex(row, flex-end, flex-end);
  width: 100%;
  max-width: $site-max-width;
  height: $navbar-height;
  padding: 0 $spacing-48;
  margin: 0 auto;
}

.nav-menu {
  @include flex-center;
  width: $navbar-width;
  height: $nav-menu-height;

  flex-wrap: wrap;
}

.nav-menu__item {
  @include flex-center;
  width: $nav-menu-item-width;
  height: 100%;

  & > a {
    @include flex-center;
    color: inherit;

    width: 100%;
    height: 100%;

    font-weight: $font-weight-bold;

    &:hover {
      color: $color-primary;
    }
  }
}
